:root{
  --base-font: gotham ;
  --base-font-strong: lato-bold ;
  --base-font-size:18px;
  --base-font-color:var(--barer);
}

@font-face {
    font-family: 'gotham';
    src: url("../../dist/fonts/Gotham-Light.otf");
}

@font-face {
    font-family: 'lato';
    src: url("../../dist/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: 'lato-bold';
    src: url("../../dist/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: 'lato-light';
    src: url("../../dist/fonts/Lato-light.ttf");
}

body{
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  color: var(--base-font-color);
}
