.alarm__toolbox {
  display: flex;
  justify-content: space-around;
  [class^="icon-"], [class*=" icon-"] {
    font-size: 6em;
  }
}
.alarm__check{
  display: flex;
  flex-direction: column;
}
.selected {
  position: relative;
  &:before {
    position: absolute;
    bottom: calc(-var(--spacer));
    left: calc(50% - 5px);
    width: var(--spacer);
    height: var(--spacer);
    border-radius: 500rem;
    background: var(--color);
    content: "";
  }
}
