.timer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../assets/erlojua.svg') center no-repeat;
  background-size: 115vh;
}
