header,footer,main,aside{
  padding: calc(var(--spacer) * 6);
}
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.panel{
  border-left:1px solid var(--bare);
  height: 100vh;
}
